<!DOCTYPE html>
<html>
  <head>
    <title>LittleEtsyShop</title>
    <h3> Upcoming Holidays</h3>
  
    <%= @holidays[0].name %> <%=@holidays[0].date%><br>
    <%= @holidays[1].name %> <%=@holidays[1].date%><br>
    <%= @holidays[2].name %> <%=@holidays[2].date%>
    
  
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
      <div style="color:purple;font-weight:bold;">
        <%= msg %>
      </div>
    <% end %>

    <h1 style="font-family:Helvetica;"><center><span style="background-color:#E0E0E0;padding:0.5em">Little Esty Shop</span></center></h1>

    <%= yield %>
  </body>
  <footer>
  
  </footer>
</html>
